/*MENU HEADER*/

    #icon { width: 60px; height: 60px;}
    .menu_item {color: #fff; font-size: 25px; padding: 10px 10px; text-decoration: none;}
    .menu_item:hover{font-size: 33px; color: rgb(0, 0, 0); text-decoration: none;}
    @media (max-width: 800px)
    {
        .menu_item {color: #fff; font-size: 17px; padding: 10px 10px; text-decoration: none;}
        .menu_item:hover{font-size: 25px; color: rgb(0, 0, 0); text-decoration: none;}    }

/*HOME*/

    #home { width: 100%; height: 770px;}
    #home img{ width: 100%; height: 770px;}
    @media  (max-width: 800px)
    {
        #home img{ width: 100%; height: 500px;}
    }

/*ABOUT*/

    #about { width: 100%;}
    #text_i 
    {
        width: 50%;
        text-justify: center;
    }
    @media  (max-width: 800px)
    {
        #about h1 {margin-top: -200px;}
    }

    /*Prevention */

    #text_prevention1
    {
        font-size: 25px; 
        text-align: justify;
    }

/*NEWSLETTER*/

    #newsletter { height: 500px; display:flex; align-items: center; align-self: center;}
    .text_news h1{ margin-top: 50px;}

    .enterIn input{width: 100%;}

/*FOOTER*/

footer {background-color: #333;}
@media  (max-width: 800px)
{
    footer {background-color: #333; margin-top: 500px;}
}

/***************************************************/

/*ABOUTUS*/
    #aboutus img{ width: 100%;}
    #aboutbook p { width: 100%;}

/*Content_Main*/

    #content_main{width: 100%; height: 700px;}
